@charset "utf-8";
html {
	font-size: 312.5%;
	min-width: 6.4rem;
}
/*background 背景颜色*/
.bg-red{ background-color: #e51400 !important;}
.bg-darkRed{background-color: #c32136 !important;}
.bg-green{ background-color: #60a917 !important;}
.bg-blue{background-color:#44cef6 !important;}
.bg-darkBlue{background-color: #16499a !important;}
.bg-dark{background-color: #252525 !important;}
.bg-amber{background-color: #ca6924 !important;}
.bg-orange{background-color: #E56C19 !important;}
.bg-grayDark{background-color: #696969 !important;}
/*foreground 前景 文本颜色 其实就是color*/
.fg-red{color: #e51400 !important;}
.fg-darkRed{color: #C32136 !important;}
.fg-green{color: #60a917 !important;}
.fg-blue{color:#44CEF6 !important;}
.fg-darkBlue{color: #16499a !important;}
.fg-white{color: #FFFFFF !important;}
/*outline 轮廓样式*/
.ol-red{outline-color: #e51400 !important;}
.ol-darkRed{outline-color: #C32136 !important;}
.ol-green{outline-color: #60a917 !important;}
.ol-blue{outline-color: #44CEF6 !important;}
.ol-darkBlue{outline-color: #16499a !important;}
.ol-orange{outline-color: #e56c19 !important;}
/*border 边框颜色样式*/
.bd-red{border-color: #e51400 !important;}
.bd-darkRed{border-color: #c32136 !important;}
.bd-green{border-color: #60a917 !important;}
.bd-blue{border-color: #44cef6 !important;}
.bd-darkBlue{border-color: #16499a !important;}
.bd-orange{border-color: #e56c19 !important;}
/*width 常用宽度*/
.w-10{width: 10% !important;}
.w-15{width: 15% !important;}
.w-20{width: 20% !important;}
.w-25{width: 25% !important;}
.w-30{width: 30% !important;}
.w-40{width: 40% !important;}
.w-50{width: 50% !important;}
.w-60{width: 60% !important;}
.w-70{width: 70% !important;}
.w-80{width: 80% !important;}
.w-90{width: 90% !important;}
.w-100{width: 100% !important;}
/*max-width 常用最大宽度*/
.max-20{max-width: 20px !important;}
.max-40{max-width: 40px !important;}
.max-60{max-width: 60px !important;}
.max-80{max-width: 80px !important;}
.max-100{max-width: 100px !important;}
.max-160{max-width: 160px !important;}
.max-240{max-width: 240px !important;}
/*min-width 常用最小宽度*/
.min-20{min-width: 20px !important;}
.min-40{min-width: 40px !important;}
.min-60{min-width: 60px !important;}
.min-80{min-width: 80px !important;}
.min-100{min-width: 100px !important;}
.min-160{min-width: 160px !important;}
.min-240{min-width: 240px !important;}
/*font-size 常用字体大小*/
.f-12{font-size: 12px !important;}
.f-14{font-size: 14px !important;}
.f-16{font-size: 16px !important;}
.f-18{font-size: 18px !important;}
.f-20{font-size: 20px !important;}
.f-24{font-size: 24px !important;}
.f-28{font-size: 28px !important;}
.f-32{font-size: 32px !important;}
.f-40{font-size: 40px !important;}


@media screen and (min-width: 0px) {
	/*表单控件*/
	.form-wrap *{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		vertical-align: middle;
	}
	.form-wrap{
		width:400px;
		padding:5px;
	}
	.form-wrap .form-row{
		position: relative;
		line-height: 38px;
		float: left;
		width:100%;
	}
	.form-wrap .form-col{
		position: relative;
		display: block;
		line-height: 38px;
		float: left;
		width:30%;
	}
	.form-row .form-label{
		display: block;
		position: relative;
		height:38px;
		line-height: 38px;
		text-align: right;
		font-size: 16px;
		cursor: pointer;
		font-weight: bold;
		color: #666666;
		padding-right: 10px;
		overflow: hidden;
	}
	.form-row .form-label b{
		position: absolute;
		top:5px;
		right:2px;
		color: #e51400;
		line-height:10px;
	}
	.form-row .form-control{
		height:28px;
		line-height: 26px;
		padding:0 5px;
		border-radius: 3px;
		border:1px solid #ccc;
		font-size:16px;
	}
	.form-row .form-col .form-control{
		width:96%;
	}
	.form-row .form-col .font-mark{
		display: inline-block;
		height:28px;
		line-height: 28px;
		font-size:16px;
		padding:0 3px;
	}
	.form-row .form-control:focus{
		box-shadow:0px 0 3px #44cef6;
	}
	.form-wrap .form-btn{
		border:1px solid #CCC;
		background-color: #eee;
		color: #333;
		height: 30px;
		line-height: 28px;
		width:120px;
		border-radius: 5px;
		font-size: 15px;
		font-weight: bold;
		cursor: pointer;
	}
	.form-wrap .form-btn.form-submit{
		border:1px solid #C32136;
		background-color: #C32136;
		color: #FFFFFF;
	}
	.form-wrap .form-btn.form-reset{
		border:1px solid #CA6924;
		background-color:#CA6924;
		color: #FFFFFF;
	}
	.form-wrap .form-row .error{
		border: 1px solid #E51400 !important;
	}
	.form-wrap .form-row span.error{
		position: absolute;
		color:#FFF;
		text-align: center;
		display: block;
		border: 1px solid #e51400;
		border-radius: 5px;
		background-color: #e51400;
		z-index: 10;
		left: 5px;
		padding:0 10px;
		height:26px;
		line-height: 24px;
		font-size:14px;
		font-weight: bold;
	}
	.form-wrap .form-row span.error:after{
		content:"";
		width:0; 
		height:0; 
		border-top:8px solid transparent;
		border-bottom:8px solid transparent; 
		border-left:8px solid #E51400;
		display: block; 
		position: absolute;
		z-index: 11;
		top: -4px;
		left:-1px;
	}
	.form-wrap .form-tab label{
		height: 30px;
		line-height: 28px;
		display: inline-block;
		padding:0 5px;
		margin-right: 5px;
		border: 1px solid #CCC;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		vertical-align: middle;
	}
	.form-wrap .form-tab label img.recommend{
		margin-top:-11px;
		margin-right:-3px;
	}
	.form-wrap .form-tab label.active{
		border-color: #C32136;
		background-color: #C32136;
		color: #FFF;
	}
	.form-wrap .form-tab label:hover{
		border-color: #C32136;
		background-color: #C32136;
		color: #FFF;
		transition:all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		webkit-transition:all 1s ease 0s;
		-o-transition: all 1s ease 0s;
	}
	.form-wrap .form-tab input[type="radio"]{
		display: none;
	}
	.form-wrap .form-textarea{
		margin-top: 5px;
		height: 84px;
	}
	
	.form-reduce, .form-number, .form-plus{
		text-align: center;
	}
	.form-row .form-col .form-reduce{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width:30px;
		cursor: pointer;
	}
	.form-row .form-col .form-plus{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		width:30px;
		cursor: pointer;
	}
	.form-row .form-col .form-number{
		border-radius: 0;
		width:60px;
	}
	.form-row .form-col .form-price{
		text-align: center;
		font-weight: bold;
		color: #E51400;
	}
	
	/* 翻页组件 */
	.pages-wrap{
		width: 100%;
		text-align: center;
		height: 36px;
		overflow: hidden;
		font-size:100%;
	}
	.pages-wrap a{
		color: #333;
		display: inline-block;
		height:30px;
		line-height: 30px;
		padding:0 8px;
		border-radius: 3px;
		border:1px solid #ccc;
		font-size:16px;
		text-decoration: none;
		cursor: pointer;
	}
	.pages-wrap a:hover{
		background-color: #177cb0;
		color: #FFFFFF;
		border-color:#177CB0;
	}
	.pages-wrap span{
		display: inline-block;
		background-color: #177cb0;
		color: #FFFFFF;
		height:30px;
		line-height: 30px;
		padding:0 8px;
		border-radius: 3px;
		border:1px solid #177cb0;
		font-size:16px;
	}
	
	/* 浮动导航组件 */
	.nav-wrap{
		position: fixed;
		width:100%;
		overflow: hidden;
		background-color: #00A1CB;
	}
	.nav{
		width:1020px;
		margin: 0 auto;
	}
	.nav-top{
		top:0;
	}
	.nav-bottom{
		bottom: 0;
	}
	.nav-wrap ul{
		overflow: hidden;
	}
	.nav-wrap ul li{
		float: left;
		display: inline-block;
		width:12%;
		background-color: #177CB0;
	}
	.nav-wrap ul li a{
		display: block;
		font-size:24px;
		height:40px;
		line-height: 40px;
		text-align: center;
		color: #FFFFFF;
	}
	.order-comment{
		width:100%;
		float: left;
		outline: 1px solid #00A1CB;
		height:500px;
		font-size:13px;
	}
	.comment-list ul{
		overflow: 500px;
	}
	.comment-list li{
		padding:15px;
		border-bottom: 1px dashed #ccc;
	}
	.comment-list li p{
		height:30px;
		line-height: 30px;
	}
}
@media screen and (min-width: 320px) {
	html {
		font-size: 312.5%;
	}
	.order-wrap{
		font-size:12px;
		overflow: hidden;
		outline: 1px solid #00A1CB;
		margin: 0 auto;
	}
	.order-wrap h4{
		font-size:20px;
		color: #FFFFFF;
		height: 50px;
		line-height: 50px;
		text-indent: 10px;
		background-color: #00A1CB;
	}
	.order-main{
		width:100%;
		float: left;
	}
}
@media screen and (min-width: 360px) {
	html {
		font-size: 351.5%;
	}
}
@media screen and (min-width: 410px) {
	html {
		font-size: 400%;
	}
}
@media screen and (min-width: 480px) {
	html {
		font-size: 469%;
	}
}
@media screen and (min-width: 640px) {
	html {
		font-size: 625%;
	}
	.order-main{
		width:60%;
	}
	.order-comment{
		width:40%;
		height:720px;
	}
}