@charset "utf-8";
/* CSS Document */
html{font-size:312.5%;}
body {
	padding: 0;
	margin: 0;
	font-family: '微软雅黑', '宋体';
	color: #4a4541;
	background: #E8CCAA;
}
ul, dl, dd, h1, h2, h3, h4, h5, h6, form, p {
	padding: 0;
	margin: 0;
}
ul, li, dl, dt, dd {
	list-style: none;
}
img {
	border: none;
}
a {
	color: #4a4541;
	text-decoration: none;
	outline: none;
}
a:hover {
}
.clear {
	height: 0px;
	clear: both;
}
.mt80 {
	margin-top: 80px;
}


/*不同尺寸*/


@media screen and (min-width: 1px) {
html {font-size: 312.5%;}

.head-box {height:1.2rem;}
.head-con { position:relative;}
.header {background-color:#fff; padding:0.2rem;}
.logo { max-width:4.5rem; float:left; }
.logo img{max-width:4.5rem;    margin-left:0.06rem;}
.header div.right {float:right;margin-top:0.2rem;font-size:0.35rem}
.tel {display:none;}



.nav {width:100%; height: auto;position: absolute;bottom: -4.8rem;z-index: 10000;}
.nav ul{ overflow:hidden;}
.nav ul li {float:none; width:100%; height:0.8rem; line-height:0.8rem; }
.nav ul li a {display: block;width: 100%;height: 0.8rem;line-height: 0.8rem;color: #4e4540;text-align: center;background-color:rgba(255,255,255,0.9);border-right:0; font-size:0.3rem;}
.nav ul li a:hover, 
.nav ul li a
.hover {color: #ffefe8;background: #6e452f;}

.nav-btn{height:0.8rem;width:0.96rem;float:right;display:block;    margin-right:0.06rem;}
.nav-btn img{width:80%;}

/*banner*/
.banner {width: 100%;    overflow: hidden;}
/*.banner img {width: 100%;}*/

.banner-pc{display:none;}
.banner-phone{display:block;}
/*首页banner*/
.main_visual {
    height: 6rem;
    overflow: hidden;
    position: relative;
	/*我把top值改成了0*/
	    top: 0rem;
}
.main_image {
    height:6rem;
    overflow: hidden;
    position: relative;
}
.main_image ul {
    height: 6rem;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 99.99rem;
}
.main_image li {
    float: left;
    height: 6rem;
    width: 100%;
}
.main_image li span {
    display: block;
    height: 6rem;
    width: 100%;
	background-size:100%;
}
.main_image li span img{
	width:100%;
}
.main_image li a {
    display: block;
    height: 6rem;
    width: 100%;
}
.main_image li .img_1 {
    background: url("../../images/images/img_main_1.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
}
div.flicking_con {
	display:none;
    height: 21px;
    left: 50%;
    margin: 0 0 0 -76px;
    position: absolute;
    top: 650px;
    width: 300px;
    z-index: 999;
}
div.flicking_con a {
	border-radius:50%;
	border:1px solid #fff;
    display: block;
    float: left;
    height: 21px;
    margin: 0;
    padding: 0;
    text-indent: -1000px;
    width: 21px;
}
div.flicking_con a.on {
    background-position: 0 -21px;
}
#btn_prev, #btn_next {
    display: none;
    height: 74px !important;
    margin-top: -37px;
    position: absolute;
    top: 50%;
    width: 73px !important;
    z-index: 11111;
}
#btn_prev {
	cursor:pointer;
    background: url("../../images/images/hover_left.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    left: 100px;
}
#btn_next {
	cursor:pointer;
    background: url("../../images/images/hover_right.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    right: 100px;
}


/**
.slides {width: 100%;height: 698px;position: relative;overflow: hidden;}
.slideInner {height: 698px;position: relative;left: 0;margin-left: 0;}
.slideInner a {display: block;height: 700px;background-size: cover;background-position: center center;position: relative;text-align: center;z-index: 1;}
.slideico {width: 1200px;position: relative;left: 50%;margin-left: -600px;display: none;}
.slideico a {display: block;width: 41px;height: 119px;opacity: 
.2;z-index: 50;}
.slideico a
.prev {position: absolute;left: 0;top: -350px;margin-top: -58px;background: url(../images/ban_pre.png) no-repeat;}
.slideico a.next {position: absolute;right: 0;top: -350px;margin-top: -58px;background: url(../images/ban_next.png) no-repeat;}
.navListBox {position: absolute;left: 50%;top: 655px;z-index: 99;}
.navListBox li {width: 15px;height: 15px;float: left;margin-left: 8px;border-radius: 50%}
.navListBox li:first-child {margin-left: 0;}
.navListBox li a {display: block;width: 100%;height: 100%;border-radius: 50%;background-color: #fff;opacity: 0.5;}
.navListBox li a.active {background-color: #fff;opacity: 1;}
**/
/*返回顶部*/
#back-to-top {display:none;}
#back-to-top a {display:none;}
#back-to-top a span{}
#back-to-top a.fhdb {}
/*首页*/
.ty-box {width:100%;margin: 0 auto;}
.in-con1 dl {padding: 0.5rem 0;text-align: center;}
.in-con1 dl dt img {margin-bottom:0.52rem; max-width:4.2rem;}
.in-con1 dl dt {
    margin-bottom: 0.45rem;
    font-size: 0.42rem;
    color: #694934;
    line-height: 0.65rem;
}
.in-con1 dl dd {
    font-size: 0.28rem;
    color: #4c4942;
    line-height: 0.5rem;
    padding: 0 0.3rem;
    text-align: left;
}
.in-con2 {width: 100%;height:auto;padding:35px 0;color: #694934;background: url(../../images/images/07-05.png) 0 0;}
.in-con2 a {color: #694934;}

.in-con2 p.title {
    font-size: 0.42rem;
    line-height: 0.65rem;
    text-align: center;
}
.in-con2-c {margin: 0 auto;text-align: center;}
.in-con2-c dl {margin: 34px 0;}
.in-con2-c dl dt {}
.in-con2-c dl dt img{ max-width:3.4rem}
.in-con2-c dl dd {font-size:0.30rem;line-height:0.53rem;}
.in-con2-c ul li {float:none; display:block;font-size:0.45rem;padding:0 auto;text-align: center; margin-bottom:0.5rem;}
.in-con2-c ul li img {display: block;margin: 0 auto; width:2.4rem; margin-bottom:0.1rem;}
.in-con2-c ul li span {display: block;font-size:0.24rem;}

.in-con3 {padding:0.5rem 0;}
.in-con3 p.title {font-size:0.4rem;line-height:0.75rem;color: #694934;text-align: center;}
.in-con3-t {width:100%;margin:0.38rem auto;}
.in-con3-t ul {width:5.5rem;float:none;margin:0 auto;}
.in-con3-t ul li {    float: left;
    display: inline-block;
    width: 2.4rem;
    height: 0.66rem;
    margin: 0 0.15rem;
    font-size: 0.36rem;
    color: #4e4540;
    text-align: center;
    line-height: 0.60rem;
    background: #e5d6cf;}
.in-con3-t ul li:hover,.in-con3-t li.hover {color: #ffefe8;background: #6e452f;}
.in-con3-t div.more{ display:none;}
.in-con3-3 {border-top: 1px dashed #b0aca0;width:90%; margin:0 auto;}
.in-con3-3 li {padding: 0; width:100%;border-bottom: 1px dashed #b0aca0;background: none;}
.in-con3-3 li dl {height:1.12rem;padding:0.2rem 0;}
.in-con3-3 li dl dt {float: left; width:18%;padding-right:0;font-size:0.22rem;border-right: 1px solid #9f9d91;text-align:center; color:#999; }
.in-con3-3 li dl dt span {display: block;font-size:0.5rem;line-height:0.7rem;text-align:center; color:#999;}
.in-con3-3 li dl dd {float: left; width:78%;padding-left:0.1rem;}
.in-con3-3 li dl dd h3 {height:0.7rem;font-size: 0.35rem;line-height:0.7rem; overflow:hidden; font-weight:normal;color:#757474;}
.in-con3-3 li dl dd p {height: 0.3rem;font-size: 0.25rem; color:#999;line-height: 0.3rem;overflow:hidden; font-weight:normal; }

/*防腐木景观*/
.ffmjg-con1 {padding:0.65rem 0 ;color:#694934;text-align: center; background:url(../../images/images/07-05.png) 0 0;}
.ffmjg-con1 dl dt.title {margin-bottom:0.4rem;font-size:0.44rem;line-height:0.75rem;}
.ffmjg-con1 dl dd {font-size:0.25rem;line-height:0.4rem;}
.ffmjg-con1 dl dd span {display: block;font-size: 0.34rem;text-align:center;}
.ffmjg-con1 dl dd p {margin-bottom:0.5rem;text-align:left;padding:0 0.2rem;}
.ffmjg-con1 ul {width:100%;margin: 55px auto 0;}
.ffmjg-con1 ul li {float: left;display: block;width:33.33%;margin:0 auto;font-size:0.34rem;text-align:center;line-height:0.5rem;}
.ffmjg-con1 ul li img {display: block; margin:0 auto; }
.ffmjg-con2 { width:100%;margin: 0 auto;text-align: center;}
.ffmjg-con2 dl {margin:0.45rem 0;color: #694934;}
.ffmjg-con2 dl dt {margin-bottom:0.2rem;}
.ffmjg-con2 dl dt img{max-width:3.4rem;}
.ffmjg-con2 dl dd {font-size: 0.34rem;line-height:0.53rem;}
.ffmjg-con2 ul {margin: 0 auto 0.2rem;color: #433f3c;}
.ffmjg-con2 ul li {float:none;display:block;width:5.5rem;font-size:0.34rem;margin:0 auto 0.2rem;}
.ffmjg-con2 ul.ul1 {width: 100%;}
.ffmjg-con2 ul.ul2 {width: 100%;}
.ffmjg-con2 ul li img {display:block;width:100%;margin-bottom:0.12rem;}
.ffmjg-con2 ul li span {display: block;font-size:0.24rem;}
.ffmjg-con3 {padding:0.4rem 0;text-align: center;color: #694934;background: #fefefe;}
.ffmjg-con3 dl {}
.ffmjg-con3 dl dt {margin-bottom:0.4rem;font-size:0.48rem;}
.ffmjg-con3 dl dd {margin-bottom:0.4rem;font-size: 0.26rem;line-height:0.4rem;}
.ffmjg-con3 p {margin-bottom:0;}
.ffmjg-con3 p img{max-width:5.5rem;margin-bottom:0.1rem;}
.ffmjg-con3 p img.p1 {margin-right:0;}
.ffmjg-con3 p img.p2 { margin:2px;}
/*仿古建筑*/
.fgjz-con1 {padding:0.65rem 0 0;color: #694934;font-size:0.3rem;line-height:0.5rem;text-align: center;background:#ebdcc5;}
.fgjz-con1 p{ width:95%; margin:0 auto;}
.fgjz-con1 img{ display:block; max-width:5.5rem; margin:0.25rem auto 0;}
.fgjz-con2 {width:100%;margin: 0 auto;text-align: center;}
.fgjz-con2 dl {margin:0.45rem 0;color: #694934;}
.fgjz-con2 dl dt {margin-bottom: 0.2rem;}
.fgjz-con2 dl dt img{ max-width:3.4rem;}
.fgjz-con2 dl dd {font-size:0.34rem;line-height:0.53rem;}
.fgjz-con2 ul {margin: 0 auto 0.2rem;color: #433f3c;}
.fgjz-con2 ul li {float:none;display:block;width:5.5rem;font-size:0.34rem;margin:0 auto 0.2rem;}
.fgjz-con2 ul.ul1 {width: 100%;}
.fgjz-con2 ul.ul2 {width: 100%;}

.fgjz-con2 ul li img {display:block;max-width:5.5rem;margin-bottom:0.12rem;}
.fgjz-con2 ul li span {display: block;font-size:0.24rem;}
/*.fgjz-con2 ul li a {isplay: inline-block;width:0.8rem;height:0.25rem;font-size:0.25rem;line-height:0.25rem;background: #e8d5cf;}*/
/*案例*/
.al-box {width:100%;margin:0.65rem auto;}
.al-title {width:5rem;margin: 0 auto 0.65rem;}
.al-title li {float: left;display: inline; width:46%; margin:0 2%;}
.al-title li a {float:left;display: inline-block;width:2.2rem;height:0.66rem;margin:0 0.15rem; font-size:0.36rem;color: #4e4540;text-align: center;line-height: 0.66rem;background: #e5d6cf;}
.al-title li a:hover, .al-title li a.hover {color: #ffefe8;background: #6e452f;}
.al-con{width:100%;}
.al-con li {float:none; width:5.5rem;margin:0 auto 0.65rem;line-height:0.4rem;}
.al-con li img {display: block;margin-bottom:0.2rem;max-width:5.5rem;}
.al-con li p {float:left;font-size:0.30rem; line-height:0.44rem; width:78%;}
.al-con li p b{ display:block; width:100%; height:0.44rem; overflow:hidden;}
.al-con li p span {display: block;font-size:0.3rem; line-height:0.34rem; height:0.34rem; overflow:hidden;}
.al-con li div.right {float: right;font-size:0.3rem; width:22%; text-align:center;}
.al-con li div.hover {color: #6e452f;}

/*资讯*/
.zx-box {width:5.8rem;margin: 0.65rem auto;min-height:3rem;}
.zx-side {float:none;width:90%;height:0.66rem; padding: 0 0 0.5rem 0;font-size: 0.3rem;text-align:center;margin:0 auto;overflow:hidden;}
.zx-side li {
	float: left;
    height: 0.66rem;
    font-size: 0.3rem;
    color: #4e4540;
    text-align: center;
    line-height: 0.66rem;
    background: #e5d6cf;
    border-bottom: none;
    margin: 0 1.5%;
	}
.zx-side li img {display:none;}
.zx-side li.hover{color: #ffefe8;background: #6e452f;}
.zx-side li.hover a{color: #ffefe8;}
.zx-con {float:none;width:100%;}
.zx-con dl {width:5.5rem;height:auto;margin:0 auto 0.52rem;}
.zx-con dl dt {float:none;}
.zx-con dl dt img {max-width:5.5rem;}
.zx-con dl dd {float:none; margin:0 auto;}
.zx-con dl dd h3 {font-size:0.32rem;margin:0.1rem 0 0.2rem 0; line-height: 180%;}
.zx-con dl dd h3 span {display: block;font-size:0.25rem;}
.zx-con dl dd p {font-size:0.25rem;line-height:0.3rem;}
.zx-con dl dd p span {font-size:0.25rem;color: #6e452f;float: right;}
/*关于*/
.gy-box {margin:0.65rem auto;}
.gy-title {width:4.4rem;margin: 0 auto 0.65rem;}
.gy-title li {float: left;display: inline;}
.gy-title li a {display: block;height:0.66rem; padding:0 0.15rem;margin:0 0.15rem 0.3rem; font-size:0.38rem;color: #4e4540;text-align: center;line-height: 0.66rem;background: #e5d6cf;}
.gy-title li a:hover, .gy-title li a.hover {color: #ffefe8;background: #6e452f;}
.gy-con1 dl dt, .gy-con2 dl dt, .gy-con3 dl dt {font-size:0.4rem;color: #6b422c;text-align: center;}
.gy-con1 {width:100%;margin: 0 auto;}
.gy-con1 dl dd {width:85%;margin:0.5rem auto 1rem;font-size:0.30rem;line-height:0.55rem;color: #44453f;}
.gy-con1 dl dd p {text-indent:0.5rem;}
.gy-con2 {width:100%;padding: 0.65rem 0;background: url(../../images/images/07-05.png) 0 0;}
.gy-con2 dl {width:90%;margin: 0 auto;}
.gy-con2 dl dd {margin: 1rem auto;font-size:0.25rem;color: #44453f;line-height:0.55rem;}
.gy-con2 dl dd p {text-indent: 0.5rem;margin-bottom:0.15rem;font-size:0.3rem;}
.gy-con2 ul {width:90%;margin: 0 auto;}
.gy-con2 ul li {float:none;display:block;margin:0 auto 0.3rem ; width:100%;font-size:0.3rem;color: #44453f;text-align:center;}
.gy-con2 ul li span {display: block;width:100%;height:1.2rem;margin-bottom:0.15rem;line-height:1.2rem;color: #ffefe8;background: #6e452f;border-radius: 3px;}
.gy-con3 {width:95%;margin:0.65rem auto;text-align: center;}
.gy-ewm {margin:0.5rem auto;font-size:0.25rem;}
.gy-ewm img {display: block;margin: 0 auto 0.25rem;}
.gy-rx {width:100%;margin: 0 auto 0.3remx;font-size:0.5rem;color: #6b422c;}
.gy-rx img{width:0.4rem; vertical-align:middle;}
.gy-rx span {display: block;font-size:0.35rem;}
.gy-dz {color: #706d68;font-size:0.35rem;}
/*招聘*/
.zp-box {width:100%;margin:0.65rem auto;}
.zp-box dl {width:90%;text-align: center;margin:0 auto 0.65rem;}
.zp-box dl dt {color: #6b422c;font-size:0.4rem;}
.zp-box dl dt span {display: block;margin:0.45rem 0 0.12rem;font-size:0.45rem;}
.zp-box dl dd {font-size:0.35rem;color: #4f4b40;line-height:0.5rem;}
.zp-box ul li {float: none;width:90%;margin:0 auto 0.3rem;}
.zp-box ul li span {display: block;margin-bottom:0.4rem;text-align: center;font-size: 0.42rem;color: #6e452f;}
.zp-box ul li span img {display: block; max-width:2.5rem;margin: 0 auto 0.4rem;}
.zp-box ul li p {font-size:0.3rem;color: #4f4b40;line-height:0.5rem;text-indent:0.25rem;}
.zp-td {width:60%;margin:0.35rem auto 0;font-size:0.3rem;line-height:0.52rem;text-align: center;}
.zp-td span {display: block;font-size:0.25rem;background: #e8d7d0;}

/*防腐木景观列表*/
.fw-box {width:100%;margin:0.65rem auto;}
.fw-title {width:5.5rem;margin: 0 auto 0.65rem;}
.fw-title li {float: left;display: inline;}
.fw-title li a {float:left;display: inline-block;width:2.4rem;height:0.66rem;margin:0 0.15rem 0.3rem; font-size:0.38rem;color: #4e4540;text-align: center;line-height: 0.66rem;background: #e5d6cf;}
.fw-title li a:hover, .fw-title li a.hover {color: #ffefe8;background: #6e452f;}
.fw-con{width:100%;}
.fw-con li {float:none; width:5.8rem;margin:0 auto 0.65rem;line-height:0.4rem;}
.fw-con li img {display: block;margin-bottom:0.2rem;width:100%;}
.fw-con li p {float:none;font-size:0.33rem;}
.fw-con li p span {display: block;font-size:0.28rem;}
.fw-con li div.right {float: right;font-size:0.3rem;}
.fw-con li div.hover {color: #6e452f;}

/*资讯内容页*/
.zxnr-box {width:85%;margin:0.65rem auto;}
.zxnr-time {height:0.35rem;margin: 0 auto;font-size:0.3rem;}
.zxnr-time span {padding-left: 0.12rem;}
.zxnr-time div.time {float: left;}
.zxnr-time a {float: right;}
.zxnr-text {}
.zxnr-text h1 {margin:0.65rem auto;;font-size:0.5rem;line-height:0.7rem;text-align: center;}
.zxnr-text div.text {font-size:0.32rem;line-height:0.5rem;}
.zxnr-text div.text img{ max-width:5.5rem; margin:0.2rem;}

.bdsharebuttonbox{ display:inline-block;margin:0 auto; width:100%}
.bdsharebuttonbox span{ float:left; line-height:0.5rem; padding-right:0.2rem;}
.zxnr-text div.share {margin: 0.5rem auto;text-align: center;font-size:0.3rem;}

.zxnr-more {width: 100%;border-top: 1px solid #e1ddd1;}
.zxnr-more p.title {margin:0.35rem 0;font-size:0.45rem;color: #6e452f;text-align: center;}
.zxnr-more ul {width:95%;margin: 0 auto;}
.zxnr-more ul li {float:none;width:95%;margin: 0 auto 0.5rem;font-size:0.25rem;line-height:0.4rem;}
.zxnr-more ul li h3 {font-size:0.32rem;line-height: 35px;}
.zxnr-more ul li img{width:100%;}
.zxnr-more div.more {width:65%;height:0.6rem;margin:0.65rem auto;line-height:0.6rem;font-size:0.35rem;text-align: center;background: #6e452f;border-radius: 3px;}
.zxnr-more div.more a {color: #ffefe8;}
/*防腐木景观内容页*/
.fwnr-box {width:95%;margin:0.65rem auto;}
.fwnr-box div.title {margin-bottom: 0.65rem;}
.fwnr-box div.title h1 {font-size:0.32rem;}
.fwnr-box div.title p {font-size:0.25rem;}
.fwnr-box div.text {font-size:0.32rem;line-height:0.5rem;}
.fwnr-box div.text img{ width:90%; margin:0.1rem 5%;}
/*页码*/
.fy {width:95%;height:0.35rem;text-align: center;font-size:0.25rem;}
.fy a {padding: 0.12rem 0.2rem;margin: 0 0.05rem;color: #4e4540;background: #e5d6cf;}
.fy span { display:inline-block;padding: 0.12rem 0.2rem;margin: 0 0.05rem;}
.fy a:hover,.fy span{color: #ffefe8;background: #6e452f;}
/*尾部*/
.footer-box {width: 100%;height:auto;background: #6b472f;}
.footer1 {width:100%;height:auto;margin: 0 auto;padding:0.3rem 0 0.4rem;color: #f5f2e3;}
.footer-lxwm {font-size: 0.25rem;line-height:0.4rem; text-align:center;background:none; }
.footer-lxwm span {font-size: 0.37rem;}
.footer-ewn { float:none; margin-bottom:0.5rem;font-size:0.16rem;line-height:0.35rem;text-align:center;}
.footer-ewn img {max-width:1.71rem;}
.footer-ewn span{ display:block;}
.footer-logo{display:none;}
.footer2 {width: 100%;font-size:0.185rem;color:#a8968a;text-align:center;}






}
@media screen and (min-width: 360px) {
html {
	font-size: 351.5%;
}

}
@media screen and (min-width: 410px) {
html {
	font-size: 400%;
}
}
@media screen and (min-width: 480px) {
html {
	font-size: 469%;
}
.ffmjg-con1 ul li {
    width: 33%;
    margin: 10px auto;
}
.logo { max-width:4.5rem; float:left; }
}

@media screen and (min-width: 640px) {
html {
	font-size: 625%;
}
.gy-con1 dl dd p {
    text-indent: 0.5rem;
    font-size: 18px;
    line-height: 34px;
}
.gy-con1 dl dd {
    max-width: 85%;
}
.gy-con2 dl dd {
        width: 85%;
    margin: 0 auto;
}
}
/*wanghuan修改的内容*/
@media screen and (max-width: 640px) {
.nav{ display:none;}
.zx-side li {
    width: 30%; 
}
}
@media screen and (max-width: 768px) {
	.fwnr-box {     width: 90% !important; margin:0 auto;}
	#back-to-top{ display:none;}
}
/* 上面添加的内容 wanghuan修改的内容*/
@media screen and (min-width: 641px) {
html {
	font-size: 100%;
}
/*头部*/
.head-box {
	width: 100%;
	height: auto;
}
.head-con {
	width:100%;
	max-width: 1240px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
.header {
	width:100%;
	max-width: 1240px;
	height: 140px;
	padding-top: 45px;
	background-color:#E8CCAA;
}
.logo {float: left;}
.logo img{max-width:421px;}
.header div.right {
	float: right;
	margin-top: 25px;
	font-size: 24px;
}
.tel {
	float: right;
	display:block;
	padding: 18px 8px 0 0;
	    margin-right: 0.2rem;
}
.nav {
	display:block;
	height: 46px;
	position: absolute;
	bottom: -23px;
	overflow:hidden;
	margin:0 auto;
	z-index: 10000;
}
.nav ul{ height:46px;}
.nav ul li {
	float: left;
	width:16.66%;
	max-width:206px;
	height:46px;
	line-height:46px;
	margin-top:0;
	text-align:center;
	  background: #e5d6cf;
}
.nav ul li a {
	font-size:16px;
	display: inline-block;
	width:99%;
	max-width: 206px;
	height: 46px;
	color: #4e4540;
	text-align: center;
	line-height: 46px;
	background: #e5d6cf;
}
.nav ul li a:hover, .nav ul li a.hover {
	color: #ffefe8;
	background: #6e452f;
	border-right: 1px solid #6e452f;
}

.nav-btn{display:none;}
.nav-btn img{width:100%;}

/*banner*/
.banner {
	width: 100%;
	/*wanghuan添加超出隐藏*/
	 overflow: hidden;
}
.banner img {
    /*他们不要图片同比例缩放*/
	/*width: 100%;*/
	}

.banner-pc{display:block;}
.banner-phone{display:none;}
/*首页banner*/
.flexslider {
	background: #ffffff none repeat scroll 0 0;
	overflow: hidden;
	position: relative;
	margin: 0;
	padding: 0;
}
.flexslider .slides{ height:580px;overflow:hidden;display:block;background-color:#f2edd9;}
.flexslider .slides::after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.fleximg-wrapper {
	background-position: center center;
	background-repeat: no-repeat;
	height: 580px;
}
.fleximg-wrapper a {
	display: block;height: 580px;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.flex-control-nav {
	bottom: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 3;
}
.flex-control-nav li {
	display: inline-block;
	margin: 0 4px;
}
.flex-control-paging li a {
	background: #fff none repeat scroll 0 0;
	opacity:0.7;
	border-radius: 9px;
	cursor: pointer;
	display: block;
	height: 12px;
	text-indent: 9999em;
	width: 12px;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
	list-style: outside none none;
}
.flex-direction-nav a {
	background: rgba(0, 0, 0, 0) url("/assets/images/slider-sprite.png") no-repeat scroll -999em -999em;
	cursor: pointer;
	display: block;
	height: 72px;
	margin: -36px 0 0;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	text-indent: -999em;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	top: 50%;
	width: 36px;
	z-index: 10;
}
.flex-direction-nav .flex-prev {
	background-position: 0 0;
	left: -999em;
}
.flex-direction-nav .flex-next {
	background-position: -36px 0;
	right: -999em;
}
.flex-control-paging li a.flex-active {
	background: #fff none repeat scroll 0 0;
	opacity:0.95;
	cursor: default;
}


/*返回顶部*/
#back-to-top {
	display:block;
	position: fixed;
	bottom: 280px;
	right: 80px;
	z-index:10001;
}
#back-to-top a {
	display: block;
	height: 39px;
	width: 39px;
	padding:5px;
	color: #f3f5f0;
	text-align: center;
	background: #6b4530;
}
#back-to-top a span{
	line-height: 20px;
	font-size: 17px;
}
#back-to-top a.fhdb {
	margin-top: 5px;
	background: url(../../images/images/top.gif) no-repeat 0 0;
}
/*首页*/
.ty-box {
	width:100%;
	max-width: 1240px;
	margin: 0 auto;
}
.in-con1 dl {
	padding: 75px 0 100px;
	text-align: center;
}
.in-con1 dl dt img {
	margin-bottom: 40px;
	 max-width:609px;
}
.in-con1 dl dt {
	margin-bottom: 35px;
	font-size: 40px;
    color: #694934;
    line-height: 3.7rem;
}
.in-con1 dl dd {
	font-size: 18px;
	color: #4c4942;
	line-height: 40px;
	text-align:center;
	padding:0 50px;
}
.in-con2 {
	width: 100%;
	height: auto;
	padding: 35px 0;
	color: #694934;
	background: url(../../images/images/07-05.png) 0 0;
}
.in-con2 a {
	color: #694934;
}
.in-con2 p.title {
	font-size: 40px;
	line-height: 58px;
	text-align: center;
}
.in-con2-c {
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}
.in-con2-c dl {
	margin: 34px 0;
}
.in-con2-c dl dt {
}
.in-con2-c dl dt img{
	max-width: 256px;}
.in-con2-c dl dd {
	font-size: 20px;
	line-height: 40px;
}
.in-con2-c ul li {
	float: left;
	width: 20%;
	display:block;
	font-size: 25px;
	padding: 0 auto;
	text-align: center;
}
.in-con2-c ul li img {
	width:80%;
	max-width:210px;
	display: block;
	margin: 0 auto;
}
.in-con2-c ul li span {
	display: block;
	font-size: 18px;
}
.in-con3 {
	padding: 55px 0;
}
.in-con3 p.title {
	font-size: 40px;
	line-height: 70px;
	color: #694934;
	text-align: center;
}
.in-con3-t {
	width: 760px;
	margin:0 auto;
}
.in-con3-t ul {
	margin:10px auto 30px;
	width: 330px;
}
.in-con3-t ul li {
	float: left;
	display: inline-block;
	width: 145px;
	height: 38px;
	margin: 0 10px;
	font-size:17px;
	color: #4e4540;
	text-align: center;
	line-height: 38px;
	background: #e5d6cf;
}
.in-con3-t ul li:hover, .in-con3-t li.hover {
	cursor:pointer;
	color: #ffefe8;
	background: #6e452f;
}
.in-con3-t div.more{display:block; float:right;}
.in-con3-t div.more a {
	display:block;
	width: 75px;
	height: 23px;
	background: url(../../images/images/in-ico1.gif) no-repeat 0 0;
}
.in-con3-3 {
	max-width:1240px;
	border-top: 1px dashed #b0aca0;
}
.in-con3-3 li {
	padding:0;
	border-bottom: 1px dashed #b0aca0;
	background: url(../../images/images/in-ico2.gif) no-repeat right center;
}
.in-con3-3 li a{color:#999;}
.in-con3-3 li dl {
	height: 65px;
	padding: 15px 0;
}
.in-con3-3 li dl dt {
	width:10%;
	float: left;
	font-size:16px;
	border-right: 1px solid #9f9d91;
	padding-right: 1%;
	text-align:center;
	color:#999;
}
.in-con3-3 li dl dt span {
	display: block;
	font-size: 50px;
	line-height: 45px;
	text-align:center;
	color:#999;
}
.in-con3-3 li dl dd {
	float: left;
	width:80%;
	padding-left: 20px;
}
.in-con3-3 li dl dd h3 {
	height:40px;
	font-size: 20px;
	line-height: 40px;
	overflow:hidden;
	font-weight:normal;
	color:#757474;
}
.in-con3-3 li dl dd p {
	height:25px;
	font-size: 15px;
	line-height: 25px;
	overflow:hidden;
}
/*防腐木景观*/
.ffmjg-con1 {
	padding: 120px 0 90px 0;
	color: #694934;
	text-align: center;
	background:url(../../images/images/07-05.png) 0 0;
}
.ffmjg-con1 dl dt.title {
	margin-bottom: 50px;
	font-size: 40px;
	line-height: 58px;
}
.ffmjg-con1 dl dd {
	font-size: 18px;
	line-height: 35px;
}
.ffmjg-con1 dl dd span {
	display: block;
	font-size: 24px;
}
.ffmjg-con1 dl dd p {
	margin-bottom: 40px;
	text-align:center;
	padding:0 30px;
}
.ffmjg-con1 ul {
	width:100%;
	max-width: 1080px;
	margin: 55px auto 0;
}
.ffmjg-con1 ul li {
	float: left;
	display: inline-block;
	width: 16.66%;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
}
.ffmjg-con1 ul li img {
	width:90%;
	max-width:94px;
	display: block;
}
.ffmjg-con2 {
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}
.ffmjg-con2 dl {
	margin: 34px 0;
	color: #694934;
}
.ffmjg-con2 dl dt {
	margin-bottom: 15px;
}
.ffmjg-con2 dl dt img {
	max-width:256px;}
.ffmjg-con2 dl dd {
	font-size: 20px;
	line-height: 40px;
}
.ffmjg-con2 ul {
	margin: 0 auto 30px;
	color: #433f3c;
}
.ffmjg-con2 ul li {
	float: left;
	display: inline;
	width:33.33%;
	max-width:466px;
	font-size: 30px;
}
.ffmjg-con2 ul.ul1 {
	width:66.66%;
	max-width: 955px;
}
.ffmjg-con2 ul.ul1 li{
	width:50%;
}
.ffmjg-con2 ul.ul2 {
	width:100%;
	max-width: 1400px;
}



.ffmjg-con2 ul li img {
	display:inline-block;
	width:96%;
	max-width:447px;
	margin-bottom: 10px;
}
.ffmjg-con2 ul li span {
	display: block;
	font-size: 18px;
}

.ffmjg-con3 {
	padding: 60px 0 70px;
	text-align: center;
	color: #694934;
	background: #E8CCAA;
}
.ffmjg-con3 dl {
}
.ffmjg-con3 dl dt {
	margin-bottom: 20px;
	font-size: 30px;
}
.ffmjg-con3 dl dd {
	width:90%;
	margin:0 auto;
	margin-bottom: 90px;
	font-size: 20px;
	line-height: 35px;
}
.ffmjg-con3 p img.p1{
	max-width:1400px;
	width:98%;
}
.ffmjg-con3 p img.p2 {
	
}
.ffmjg-con3 p img.p2{
	max-width:49%;
}
/*仿古建筑*/
.fgjz-con1 {
	padding: 120px 0 0 0;
	color: #694934;
	font-size: 20px;
	line-height: 42px;
	text-align: center;
	background:#ebdcc5;
}
.fgjz-con1 img{ display:block;width:100%;max-width:1104px; margin:20px auto 0;}
.fgjz-con2 {
	width:100%;
	max-width: 1400px;
	margin: 0 auto;
	text-align: center;
}
.fgjz-con2 dl {
	margin: 34px 0;
	color: #694934;
}
.fgjz-con2 dl dt {
	margin-bottom: 15px;
}
.fgjz-con2 dl dt img{
	max-width:256px;}
.fgjz-con2 dl dd {
	font-size: 20px;
	line-height: 40px;
}
.fgjz-con2 ul {
	margin: 0 auto 30px;
	color: #433f3c;
}
.fgjz-con2 ul li {
	float: left;
	display: inline;
	width:33.33%;
	max-width:447px;
	font-size: 30px;
	text-align:center;
}
.fgjz-con2 ul.ul1 {
	width:66.66%;
	max-width: 955px;
	margin:0 auto 30px;
}
.fgjz-con2 ul.ul1 li{
	width:50%;
	}
.fgjz-con2 ul.ul2 {
	width:100%;
	max-width: 1400px;
}

.fgjz-con2 ul li img {
	display: inline-block;
	width:96%;
	max-width:447px;
	margin-bottom: 10px;
}
.fgjz-con2 ul li span {
	display: block;
	font-size: 18px;
}
/*.fgjz-con2 ul li a {
	display: inline-block;
	width: 55px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	background: #e8d5cf;
}*/
/*案例*/
.al-box {
	max-width: 1400px;
	margin: 50px auto 70px;
}
.al-title {
	width: 330px;
	margin: 0 auto 50px;
}
.al-title li {
	float: left;
	display: inline;
}
.al-title li a {
	display: block;
	width: 145px;
	height: 38px;
	margin: 0 10px;
font-size:17px;
	color: #4e4540;
	text-align: center;
	line-height: 38px;
	background: #e5d6cf;
}
.al-title li a:hover, .al-title li a.hover {
	color: #ffefe8;
	background: #6e452f;
}
.al-con{max-width:1420px; margin:0 auto;}
.al-con li {
	float: left;
	width:31%;
	margin: 0 1% 50px;
	line-height: 30px;
}
.al-con li img {
	display: block;
	width:100%;
	max-width:447px;
	max-height:300px;
	margin-bottom: 15px;
}
.al-con li p {
	float: left;
	font-size: 20px;
	line-height:26px;
}
.al-con li p b{
	display:block;
	height:26px;
	overflow:hidden;
	width:100%;}
.al-con li p span {
	display: block;
	font-size: 16px;
	line-height:30px;
	overflow:hidden;
	height:30px;
}
.al-con li div.right {
	float: right;
	font-size:16px;
}
.al-con li div.hover {
	color: #6e452f;
}
/*资讯*/
.zx-box {
	width:100%;
	max-width: 1240px;
	margin: 50px auto 70px;
	min-height:300px;
}
.zx-side {
	float: left;
	width:25%;
	max-width: 200px;
	height:300px;
	padding: 0 0 10px 0;
	font-size: 25px;
}
.zx-side li {
	float:none;
	height: 57px;
	line-height: 57px;
	padding:0;
	border-bottom: 1px solid #dedace;
	margin:0; font-size:25px;color: #4e4540;text-align:left;background:none;
}
.zx-side li img {
	display:inline-block;
	vertical-align: middle;
	padding-left:5px;
	padding-right: 15px;
}
.zx-side li.hover {
	color: #6e452f;
	background:none;
}
.zx-side li.hover a{	color: #6e452f;}
.zx-con {
	float: right;
	width:75%;
	max-width: 930px;
}
.zx-con dl {
	overflow:hidden;
	width:100%;
	max-width:910px;
	margin-bottom: 40px;
}
.zx-con dl dt {
	float: left;
	width:40%;
	max-width:350px;
}
.zx-con dl dd {
	float: right;
	width:58%;
	max-width: 550px;
}
.zx-con dl dt img {
	width:100%;
	max-width:350px;
}
.zx-con dl dd h3 {
	    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    line-height: 1.5rem;
}
.zx-con dl dd h3 span {
	display: block;
	font-size: 14px;
	    margin-top: 0.5rem;
}
.zx-con dl dd p {
	font-size: 16px;
	line-height: 30px;
}
.zx-con dl dd p span {
	font-size: 12px;
	color: #6e452f;
	float: right;
	margin-right:5px;
}
/*关于*/
.gy-box {
	margin: 50px auto 70px;
}
.gy-title {
	width: 680px;
	margin: 0 auto 50px;
}
.gy-title li {
	float: left;
	display: inline;
}
.gy-title li a {
	display: block;
	width: 145px;
	height: 38px;
	margin: 0 10px;
	font-size:17px;
	color: #4e4540;
	text-align: center;
	line-height: 38px;
	background: #e5d6cf;
}
.gy-title li a:hover, .gy-title li a.hover {
	color: #ffefe8;
	background: #6e452f;
}
.gy-con1 dl dt, .gy-con2 dl dt, .gy-con3 dl dt {
	font-size: 40px;
	color: #6b422c;
	text-align: center;
}
.gy-con1 {
	width:100%;
	max-width: 1240px;
	margin: 0 auto;
}
.gy-con1 dl dd {
	max-width:900px;
	margin: 38px auto 100px;
	font-size: 16px;
	line-height: 30px;
	color: #44453f;
}
.gy-con1 dl dd p {
	    text-indent: 30px;
}
.gy-con2 {
	width: 100%;
	padding: 75px 0 100px;
	background: url(../../images/images/07-05.png) 0 0;
}
.gy-con2 dl {
	width:100%;
	max-width: 1000px;
	margin: 0 auto;
}
.gy-con2 dl dd {
	margin: 74px auto 84px;
	font-size: 18px;
	color: #44453f;
	line-height: 30px;
}
.gy-con2 dl dd p {
	font-size:20px;
	text-indent: 25px;
	margin-bottom: 10px;
}
.gy-con2 ul {
	width:100%;
	max-width: 1020px;
	margin: 0 auto;
}
.gy-con2 ul li {
	float: left;
	display: inline;
	width:20%;
	max-width:204px;
	font-size: 18px;
	color: #44453f;
	text-align: center;
}
.gy-con2 ul li span {
	display: inline-block;
	width:90%;
	max-width: 178px;
	height: 85px;
	margin-bottom: 10px;
	line-height: 85px;
	color: #ffefe8;
	background: #6e452f;
	border-radius: 3px;
}
.gy-con3 {
	width: 660px;
	margin: 75px auto 0;
	text-align: center;
}
.gy-ewm {
	margin: 50px 0;
	font-size: 16px;
}
.gy-ewm img {
	display: block;
	margin: 0 auto 10px;
}

.gy-rx {
	margin: 0 auto 15px;
	font-size: 40px;
	color: #6b422c;
}
.gy-rx img{ width:39px; margin-top:-10px;} 
.gy-rx span {
	display: block;
	font-size: 20px;
}
.gy-dz {
	color: #706d68;
	font-size: 25px;
}
/*招聘*/
.zp-box {margin: 60px auto;

}
.zp-box dl {
	text-align: center;
	margin: 0 auto 60px;
}
.zp-box dl dt {
	color: #6b422c;
	font-size: 40px;
}
.zp-box dl dt span {
	display: block;
	margin: 45px 0 10px;
	font-size: 30px;
}
.zp-box dl dd {
	font-size: 18px;
    color: #4f4b40;
    line-height: 38px;
}
.zp-box ul{width:100%; max-width:1380px; margin:0 auto;}
.zp-box ul li {
	 float: left;
    width: 30.33%;
    max-width: 430px;
    text-align: center;
    padding: 0 1.5%;
    text-align: left;
}
.zp-box ul li span {
	display: block;
	margin-bottom: 30px;
	text-align: center;
	font-size: 32px;
	color: #6e452f;
}
.zp-box ul li span img {
	display: block;
	width:80%;
	max-width:181px;
	margin: 0 auto 30px;
}
.zp-box ul li p {
	font-size: 16px;
	color: #4f4b40;
	line-height: 30px;
	text-indent: 25px;
}
.zp-td {
	width: 212px;
	margin: 45px auto 0;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}
.zp-td span{font-size: 18px;}

/*防腐木景观列表页*/

.fw-box {
max-width: 1400px;
	margin: 80px auto 50px;;
}
.fw-title {
	width:100%;
	max-width:825px;
	margin: 0 auto 50px;
}
.fw-title li {
	width:20%;
	float: left;
	display: inline;
	text-align:center;
}
.fw-title li a {
	display: block;
	width:80%;
	margin:0 10%;
	max-width: 145px;
	height: 38px;
	font-size:17px;
	color: #4e4540;
	text-align: center;
	line-height: 38px;
	background: #e5d6cf;
}
.fw-title li a:hover, .fw-title li a.hover {
	color: #ffefe8;
	background: #6e452f;
}
.fw-con{width:100%;max-width:1420px; margin:0 auto;}
.fw-con li {
float: left;
	width:31%;
	margin: 0 1% 50px;
	line-height: 30px;
}
.fw-con li img {
	display: block;
	width:100%;
	max-width:447px;
	margin-bottom: 15px;
}
.fw-con li p {
	float: left;
	font-size: 20px;
}
.fw-con li p span {
	display: block;
	font-size: 15px;
	height:24px;
	line-height:24px;
}
.fw-con li div.right {
	float: right;
	font-size:16px;
}
.fw-con li div.hover {
	color: #6e452f;
}
/*资讯内容页*/
.zxnr-box {
	width: 1000px;
	margin: 100px auto 70px;
}
.zxnr-time {
	height: 25px;
	margin: 0 auto;
	font-size: 16px;
}
.zxnr-time span {
	padding-left: 10px;
}
.zxnr-time div.time {
	float: left;
}
.zxnr-time a {
	float: right;
}
.zxnr-text {
}
.zxnr-text h1 {
	margin: 60px 0 50px;
	font-size: 35px;
	line-height: 45px;
	text-align: center;
}
.zxnr-text div.text {
	font-size: 17px;
	line-height: 30px;
}
.zxnr-text div.text img{
	max-width:1000px;}
	
.bdsharebuttonbox{ display:inline-block;margin:0 auto; width:165px}
.bdsharebuttonbox span{ float:left; line-height:52px; padding-right:5px;}
.zxnr-text div.share {margin:45px auto 0;text-align: center;font-size:17px;}
.zxnr-more {
	width: 100%;
	border-top: 1px solid #e1ddd1;
}
.zxnr-more p.title {
	margin: 35px 0;
	font-size: 30px;
	color: #6e452f;
	text-align: center;
}
.zxnr-more ul {
	width: 915px;
	margin: 0 auto;
}
.zxnr-more ul li {
	float: left;
	width: 275px;
	margin: 0 15px;
	font-size: 14px;
	line-height: 20px;
}
.zxnr-more ul li p {
    height: 40px;
    overflow: hidden;
}
.zxnr-more ul li h3 {
	font-size: 18px;
	line-height: 35px;
}
.zxnr-more div.more {
	width: 166px;
	height: 42px;
	margin: 45px auto;
	line-height: 45px;
	font-size: 18px;
	text-align: center;
	background: #6e452f;
	border-radius: 3px;
}
.zxnr-more div.more a {
	color: #ffefe8;
}
/*防腐木景观内容页*/
.fwnr-box {
	width: 1000px;
	margin: 50px auto 70px;
}
.fwnr-box div.title {
	margin-bottom: 10px; text-align:center;
}
.fwnr-box div.title h1 {
	font-size: 24px;
}
.fwnr-box div.title p {
	font-size: 14px;
}
.fwnr-box div.text {
	font-size: 17px;
	line-height: 30px;
}
.fwnr-box div.text img{width:100%; margin:0.1rem 0;}
/*页码*/
.fy {
	width: 100%;
	height: 25px;
	text-align: center;
	font-size: 14px;
}
.fy a {
	padding: 10px 15px;
	margin: 0 5px;
	color: #4e4540;
	background: #e5d6cf;
}

.fy span{ display:inline-block;padding: 10px 15px;margin: 0 5px;}
.fy a:hover,.fy span {
	color: #ffefe8;
	background: #6e452f;
}
/*尾部*/
.footer-box {
	width: 100%;
	height: 260px;
	background: #6b472f;
}
.footer1 {
	width:100%;
	max-width: 780px;
	height: 170px;
	margin: 0 auto;
	padding-top: 55px;
	color: #f5f2e3;
}
.footer-lxwm {
	padding: 0 55px 0 150px;
	font-size: 18px;
	line-height: 35px;
	text-align:left;
	background: url(../../images/07-04.png) no-repeat 0 0;
}
.footer-lxwm span {
	font-size: 35px;
}
.footer-ewn {
	float: right;
	font-size: 10px;
	text-align: center;
	line-height: 25px;
}
.footer-ewn img {
	max-width: 100px;
	max-height: 100px;
	display: block;
	margin: 0 auto;
}
.footer-ewn span{ display:block;}

.footer-logo{
	display:block;
	float:left;
}
.footer2 {
	width:100%;
	max-width: 1240px;
	margin: 0 auto;
	font-size: 14px;
	color: #a8968a;
	text-align: center;
}
}
